@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);


* {
    margin: 0;
}


html, body {
    height: 100%;
    padding-top: 40px;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    /*margin: 0 auto -230px; /!* the bottom margin is the negative value of the footer's height *!/*/
}
.footer, .push {
    height: 230px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.body  {
    position: relative;
    width: 100%;
    max-width: 974px;
    height: 100%;
    margin: 0 auto;
    /*padding: 0 25px;*/
}

h1 {
    font-size: 35px;
    color: #16bdcf;
    padding: 25px 0;
}

a {
    color: #16bdcf;
}

a:hover {
    text-decoration: none;
}