@font-face {
    font-family: "Flaticon";
    src: url("/vendor/images/fonts/flaticon.eot");
    src: url("/vendor/images/fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("/vendor/images/fonts/flaticon.woff") format("woff"),
    url("/vendor/images/fonts/flaticon.ttf") format("truetype"),
    url("/vendor/images/fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    position: absolute;
    font-family: Flaticon;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    left: 50%;
    bottom: 50%;
    margin-left: -10px;
    margin-bottom: -10px;
}


.flaticon-recalculate:before {
    content: "\e004";
}

.flaticon-delete:before {
    content: "\e000";
}

.flaticon-zoom:before {
    content: "\e003";
}

.flaticon-instagram:before {
    content: "\e002";
}

.flaticon-fb:before {
    content: "\e001";
}