@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);

body {
    background: url('/assets/images/bg-texture.jpg');
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

sup, sub {
    font-size: 70%;
}

sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

small {
    font-size: 70%;
}

.h small {
    font-size: 50%;
}

b, strong {
    font-weight: bold;
}


.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #16bdcf;
    /*font-weight: bold;*/
    line-height: 1.2;
    padding-bottom: 14px;
}

.h1, .h2 {
    font-size: 38px;
    padding-top: 10px;
    padding-bottom: 14px;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 23px;
}

.sub-h1 {
    font-size: 18px;
}

.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: #16bdcf;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.icon-btn {
    position: relative;
    width: 25px;
    height: 25px;
    top: -7px;

    cursor: pointer;

    color: #16bdcf;

    background-color: inherit;
    border: 1px solid #16bdcf;
    border: 0;
    border-radius: 3px;
}

.icon-btn:hover {
    color: #000;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
    height: 25px;
    border: 1px solid #16bdcf;
    border-radius: 3px;
    padding: 0px 5px;
}

textarea {
    height: 100px;
}

input.small {
    width: 45px;
}

input.xsmall {
    width: 35px;
}


select {
    background: #fff;
    width: 100px;
    height: 32px;
    padding: 2px 0;
}

.checker span {
    margin: 0px 0 20px;
}

.checker input {
    display: none;
}

.checker input+span {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed #000;
    margin-right: 15px;
    cursor: pointer;
}

.checker input:checked+span {
    color: #fff;
    border-bottom: 0;
}

.checker input:checked+span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: -6px;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    background: #16bdcf;
    border-radius: 10px;
    z-index: -1;
}


.btn {
    font-size: 18px;
    cursor: pointer;

    border: 0;
    border-bottom: 3px #0196a5 solid;
    border-radius: 44px;

    padding: 8px 25px 6px;
    color: #fff;
    background: #16bdcf;
    background: linear-gradient(to bottom, #00dae5 0%,#00bbce 100%);

    white-space: nowrap;
}

.btn:hover {
    background: linear-gradient(to bottom, #00ebf0 0%,#00bbce 100%);
}

.btn:active {
    background: linear-gradient(to bottom, #00bbce 0%,#00dae5 100%);
    border-bottom: 1px #0196a5 solid;
    outline: 0;
}

.btn:focus {outline:0;}

a.btn {
    text-decoration: none;
}


.dashed {
    border-bottom: 1px dashed #000;
}

.wavy-line {
    background: url('/assets/images/wavy_line.png')  repeat-x;
}

.wavy-bottom {
    background-position: bottom;
}

.align-center {
    text-align: center;
}

header.blue-top {
    height: 94px;
    background: #00a2b9; /* Old browsers */
    background: linear-gradient(to bottom, #00a2b9 0%,#01b7cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container,
.items-container,
.content-container {
    position: relative;
    width: 100%;
    max-width: 974px;
    height: 100%;
    margin: 0 auto;
    /*padding: 0 25px;*/
}

.items-container {
    max-width: 1000px;
    /*padding: 12px;*/
}

.pv-25 {
    padding: 0 25px;
}

.pv-12 {
    padding: 0 12px;
}

header .logo {
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -44px;
}

.top-menu {
    position: absolute;
    top: 44px;
    width: 440px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.top-menu a {
    color: #fff;
    text-decoration: none;
}

.top-menu a:hover {
}

.top-menu a.hvr-underline-from-center:before {
    background: #fff;
    height: 2px;
}

.left.top-menu {
    left: 0;
    text-align: right;
}

.right.top-menu {
    right: 0;
}

.left.top-menu a {
    margin-right: 18px;
}

.left.top-menu a:last-of-type {
    margin-right: 25px;
}

.right.top-menu a {
    margin-left: 18px;
}

.right.top-menu a:first-of-type {
    margin-left: 25px;
}


.body {
    background: url('/assets/images/top-1px.png') top repeat-x;
    position: relative;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.body:before, .body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/images/top-left.png') top no-repeat;
    width: 26px;
    height: 26px;
}

.body:after {
    left: auto;
    right: 0;
    background: url('/assets/images/top-right.png') top no-repeat;
}

.welcome-intro {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 18px 0 20px 0;
}

.welcome-categories {
    display: table;
    width: 70%;
    margin: 0 auto 25px;
}

.welcome-categories.matts-categories {
    width: 100%;
    margin-top: 40px;
}

.welcome-category {
    position: relative;
    display: table-cell;
    width: 33%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-category.mat-1 {
    background-image: url(/assets/images/matmenu1.png);
}
.welcome-category.mat-2 {
    background-image: url(/assets/images/matmenu2.png);
}
.welcome-category.mat-3 {
    background-image: url(/assets/images/matmenu3.png);
}
.welcome-category.mat-4 {
    background-image: url(/assets/images/matmenu4.png);
}
.welcome-category.mat-5 {
    background-image: url(/assets/images/matmenu5.png);
}
.welcome-category.mat-6 {
    background-image: url(/assets/images/matmenu6.png);
}
.welcome-category.pillow {
    background-image: url(/assets/images/matmenu7.png);
}
.welcome-category.cover {
    background-image: url(/assets/images/matmenu8.png);
}


.wc-link {
    position: absolute;
    display: block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 250px;
    height: 100px;
    left: 50%;
    margin-left: -125px;
    top: 50%;
    margin-top: -60px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    line-height: 1.3;
}

.matts-categories .wc-link {
    height: 120px;
}


/*.wc-link:hover {*/
    /*background-color: rgba(22, 179, 207, 0.75);*/
/*}*/


.wc-link.hvr-bounce-to-top:before {
    background-color: rgba(22, 179, 207, 0.75);
    border-radius: 5px;
}


.wc-title {
    color: #16bdcf;
    font-size: 25px;
    font-weight: bold;
    padding-top: 2px;
}

.matts-categories .wc-title {
    font-size: 35px;
}

.wc-link:hover .wc-title {
    color: #fff;
}

.wc-desc {
    font-size: 18px;
    padding: 0 10px;
}

.wc-link:hover .wc-desc {
    color: #fff;
}


.welcome-contents {
    display: table;
    width: 100%;
    padding-top: 65px;
}

.welcome-video, .welcome-articles {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.welcome-articles {
    padding-left: 100px;
}

.welcome-video-area {
    width: 480px;
    height: 265px;
    border: 1px solid #ccc;
}

.welcome-article-list li {
    padding-bottom: 15px;
    font-size: 18px;
}


footer.footer {
    position: relative;
    background: #00a2b9; /* Old browsers */
    background: linear-gradient(to bottom, #01b7cc 0%, #00a2b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fff;
    font-size: 14px;
}

footer.footer a {
    color: #fff;
}

.footer-top {
    background: url('/assets/images/bottom-1px.png') top repeat-x;
    position: relative;
    height: 100%;
    /*z-index: 1;*/
}

.footer-top:before, .footer-top:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/images/bottom-left.png') top no-repeat;
    width: 25px;
    height: 58px;
}

.footer-top:after {
    left: auto;
    right: 0;
    width: 23px;
    background: url('/assets/images/bottom-right.png') top no-repeat;
}


footer .logo {
    position: absolute;
    left: 0;
    top: 95px;
}

.copyright, .socbuttons, .contacts {
    position: absolute;
    top: 95px;
    line-height: 1.5;
}

.copyright {
    top: 120px;
    left: 120px;
}

.socbuttons {
    top: 130px;
    left: 120px;
}

.socbuttons li {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid white;
    border-radius: 16px;
}

.socbuttons li a {

}

.contacts {
    right: 30px;
}

.crumbs {
    padding: 20px 0 10px;
    font-size: 12px;
}

.crumbs li {
    display: inline-block;
}

.crumbs li:before {
    content: '/ ';
}

.crumbs li:first-of-type:before {
    content: '';
}

.mattress-menu {
    display: block;
    padding: 10px 0 10px;
}

.mattress-menu li {
    display: inline-block;
    padding-right: 20px;
}

.mattress-menu a {
    color: #16bdcf;
    text-decoration: none;
    border-bottom: 2px dashed #16bdcf;
    font-size: 23px;
    text-transform: uppercase;
}

.mattress-menu .active a {
    font-weight: bold;
    font-size: 27px;
    border-bottom: 0;
}

.content {
    padding-top: 35px;
}

.content-container .content {
    width: 65%;
}


.cart-status {
    position: absolute;
    top: -10px;
    right: 22px;

}

.cart-count, .cart-show {
    display: inline-block;
    margin-left: 0px;
}

.cart-count {
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #16bdcf;
    color: #fff;
}

.cart-show {
    padding: 5px 10px;
    border: 1px solid #16bdcf;
    border-radius: 7px;
    background-color: inherit;
    color: #16bdcf;
    cursor: pointer;
    text-decoration: none;
}

.cart-show:hover {
    color: #b8b8b8;
    border-color: #B8B8B8;
}


.item-list {

}


.item-el {
    position: relative;
    display: inline-block;
    width: 285px;
    margin: 0 14px;
    border: 1px solid #16bdcf;
    border-radius: 10px;

    height: 340px;
    margin-bottom: 40px;

    vertical-align: top;
}

.item-el:hover {
    padding: 1px 1px 0 1px;
    border: 0;
    border-bottom: 2px solid #16bdcf;
    margin-bottom: 39px;
}


.item-el:hover:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 285px;
    height: 100%;
    border: 2px solid #16bdcf;
    border-radius: 10px 10px 10px 10px / 10px 10px 30px 30px;
    bottom: -20px;
    left: -1px;
    padding-top: 35px;
    background: #fff;

    z-index: -1;
}



.item-el-header {
    text-align: center;
}

.item-el-header {
    text-decoration: none;
    color: #16bdcf;
}

.item-el-thumb {
    position: relative;
    padding-top: 10px;
    /*border: 1px solid red;*/
    min-height: 165px;
}

.item-el-thumb img {
    width: 283px;
    /*position: absolute;*/
    padding-left: 2px;
}

.item-el-cart-service {
    display: table;
    width: 100%;
    height: 85px;
}

.item-el-price, .item-el-btn {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.item-el-price {
    /*font-weight: bold;*/
    font-size: 22px;
    padding-left: 20px;
    position: relative;
}

.item-el-price .old_price {
    position: absolute;
    color: #929292;
    top: -15px;
    font-size: 14px;
    text-decoration: line-through;
}

.item-el-btn {
    text-align: center;
    padding-right: 10px;
}

.item-data-col, .item-service-col {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.item-data-col {
    width: 560px;
    padding-right: 20px;
    /*top: 10px;*/
}

.item-service-col {
    width: 400px;
    /*top: -30px;*/
}


.item-img-container,
.item-props-container {
    vertical-align: top;
}

.item-img-container {
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.item-img-container img {
    border: 1px solid #16bdcf;
}

.item-img-container img {
    border-radius: 10px;
}


.discount-lbl {
    position: absolute;
    left: -1px;
    color: #ffffff;
    padding: 5px 0 0 5px;
    width: 83px;
    height: 36px;
    background-image: url('/assets/images/discount-bg.png');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    font-size: 22px;
}

.item-el .discount-lbl {
    top: -180px;
}

.item-img-container .discount-lbl {
    top: 20px;
}

.item-el:hover .discount-lbl {
    left: -1px;
}

.discount-lbl.lte5 { background-position: 0 0; }
.discount-lbl.lte15 { background-position: 0 -41px; }
.discount-lbl.lte25 { background-position: 0 -82px; }
.discount-lbl.lte35 { background-position: 0 -123px; }
.discount-lbl.lte45 { background-position: 0 -164px; }
.discount-lbl.lte55 { background-position: 0 -205px; }
.discount-lbl.lte65 { background-position: 0 -246px; }
.discount-lbl.gte70 { background-position: 0 -287px; }

.fancybox-link {
    position: relative;
    color: #717171;
}

.fancybox-link:hover {
    color: #16bdcf;
}

.fancybox-link.flaticon-zoom:before,
.fancybox-link.flaticon-zoom:after {
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: -25px;
    margin-bottom: 8px;
}


.desc-tbl {
    display: table;
    padding-top: 30px;
}

.item-props-container {
    display: table-cell;
    width: 220px;
    padding: 0 20px 0 0;
}

.cart-container,
.calc-container,
.item-calc-container {
    position: relative;
    border-bottom: 1px solid #16bdcf;
    border-radius: 10px;
    width: 100%;
    /*height: 290px;*/
}

.cart-container,
.calc-container {
    margin-top: 35px;
}

.calc, .cart {
    padding: 25px;
}

.cart-table {
    /*width: 650px;*/
    width: 100%;
    text-align: left;
    /*background-color: #fff;*/
    /*padding: 5px;*/
}

.cart-table tr {
    border-bottom: 1px solid #ccc;
}

/*.cart-table tr:last-of-type {*/
    /*border-bottom: 0;*/
/*}*/

.cart-table th {
    font-weight: bold;
}

.cart-table td {
    padding: 10px 0;
    font-size: 18px;
    vertical-align: baseline;
}

.cart-total-container {
    margin-top: 50px;
    position: relative;
    height: 30px;
}


.cart-total-container table {
    width: 40%;
    position: absolute;
    right: 0;
}

.cart-total-container td {
    vertical-align: middle;
    text-align: right;
    font-size: 17px;
}

.cart-total {
    font-size: 30px;
}

.item-calc-container {
    width: 400px;
    height: 190px;
    margin-bottom: 60px;
}

.cart img {
    vertical-align: top;
    margin-right: 10px;
}

.cart-container:before,
.calc-container:before,
.item-calc-container:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: 1px solid #16bdcf;
    border-radius: 10px 10px 10px 10px / 10px 10px 30px 30px;
    bottom: -20px;
    z-index: -1;
}

.item-calc {
    position: relative;
    padding: 18px 28px;
}

.price-toggler[type=radio] {
    display: none;
}

.price-toggler[type=radio]:checked + .price-toggler-content {
    display: block;
}

.price-toggler-content {
    display: none;
}

label.price-toggler {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    color: #16bdcf;
    border-bottom: 1px dashed #16bdcf;
    font-size: 14px;
    bottom: 60px;
    left: 20px;
}



.item-price-toggler-content .sizes-title {
    display: inline-block;
    padding-bottom: 10px;
}

.item-price-toggler-content .current_price {
    font-size: 35px;
    line-height: 35px;
    height: 35px;
    display: inline-block;
    border-bottom: 1px dashed #000;
}

.item-price-toggler-content .old_price {
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    display: inline-block;
    padding-top: 2px;
    /*border-bottom: 1px dashed #929292;*/
    text-decoration: line-through;
    color: #929292;
}

.item-price-toggler-content .size-controll {
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: left;
}

.item-price-toggler-content .prices-list
{
    position: absolute;
    right: 40px;
    bottom: 90px;
    text-align: center;
}

.item-price-toggler-content .prices-list.pillow
{
    /*right: 140px;*/
    left: 0;
    bottom: 120px;
    width: 100%;
}

.item-price-toggler-content .prices-list.pillow .current_price {
    border-bottom: none;
}

.item-price-toggler-content .item-buy-btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.item-price-toggler-content .item-buy-btn.pillow {
    right: 125px;
    bottom: 30px;
}

.item-labels {
    display: table-cell;
    width: 250px;
    /*padding-top: 20px;*/
}

.item-labels li {
    display: inline-block;
}

.item-label {
    display: table-cell;
    position: relative;
    width: 150px;
    height: 40px;
    vertical-align: middle;
    color: #16bdcf;
    font-size: 14px;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 30px;
}

.item-label:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    background: url('/assets/images/label-guarantee.png') no-repeat center left;
    left: 0;
    top: 50%;
    margin-top: -20px;
}

.label-guarantee:before {
    background: url('/assets/images/label-guarantee.png') no-repeat 3px center;
}

.label-o2:before {
    background: url('/assets/images/label-o2.png') no-repeat center left;
}

.label-antibacterial:before {
    background: url('/assets/images/label-antibacterial.png') no-repeat 3px center;
}

.label-antiallergic:before {
    background: url('/assets/images/label-antiallergic.png') no-repeat 5px center;
}

.related-items {
    padding-top: 0px;
}

.related-items-title {
    text-align: center;
    font-size: 18px;
}

.related-item {
    display: inline-block;
    margin-top: 15px;
}

.related-item:nth-child(odd) {
    margin-left: 15px;
}

.related-item-img-container {
    border: 1px solid #16bdcf;
    border-radius: 10px;
    width: 188px;
    height: 117px;
}

.related-item-title,
.related-item-price {
    text-align: center;
}

.calc-left-col {
    position: relative;
    width: 170px;
    display: table-cell;
}

.calc-square-result {
    display: block;
    color: #919191;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
}

.calc-square-result input {
    background-color: inherit;
    display: inline-block;
    color: #919191;
    border: none;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 12px;
}

.calc-row {
    padding-bottom: 10px;
}

.calc-right-col {
    display: table-cell;
    padding-left: 20px;
}

.calc-custom {
    padding-left: 15px;
}

.item-calc-custom {
    padding-top: 12px;
}

.calc span.label,
.item-calc span.label{
    display: inline-block;
    padding-bottom: 8px;
    font-weight: bold;
}

.calc-w, .calc-h,
.item-calc-w, .item-calc-h {
    display: inline-block;
}

.calc-custom-separator,
.item-calc-custom-separator {
    display: inline-block;
}

.calc-custom label,
.item-calc-custom label {
    position: relative;
    display: block;
    font-style: italic;
    text-align: center;
    margin-right: 5px;
}

.calc-w label:after,
.calc-h label:after,
.item-calc-w label:after,
.item-calc-h label:after {
    content: 'x';
    position: absolute;
    top: 3px;
    right: -6px;
    font-style: normal;
}

.calc-h label:after,
.item-calc-h label:after {
    content: 'см';
    right: -12px;
}

.item-calc-left-col {
    width: 50%;
    /*text-align: center;*/
}
.item-calc-right-col {
    position: absolute;
    display: block;
    top: 18px;
    right: 0;
    padding-right: 36px;
    text-align: right;
}

.calc-price,
.item-calc-price {
    font-size: 35px;
}

.item-calc-price {
    right: 0;
    text-align: right;
}

.item-calc-price .old_price {
    color: #929292;
    font-size: 14px;
    text-decoration: line-through;
    display: block;
    text-align: center;
}

/*.square-meter-price {*/
    /*font-size: 13px;*/
    /*display: block;*/
    /*text-align: center;*/
/*}*/

.item-calc-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}


.content-el {
    padding-bottom: 20px;
}

#contacts-data {
    width: 500px;
}

#contacts-data .form-body {
    padding: 0 50px;
}


#contacts-data div {
    padding-top: 20px;
}

#contacts-data label {
    display: block;
    font-size: 20px;
}

#contacts-data input,
#contacts-data textarea {
    width: 100%;
    font-size: 20px;
    padding: 5px 5px;
}


.tabs {
    position: relative;
    min-height: 330px; /* This part sucks */
    /*margin: 35px 0 25px;*/
}

.tab {
    display: inline-block;
}

.tab label.tab-head {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #16bdcf;
    border-bottom: 1px dashed #16bdcf;
    font-size: 16px;
    margin-right: 10px;
}
.tab [type=radio] {
    display: none;
    z-index: 999;
}
.tab-content {
    position: absolute;
    /*padding-top: 30px;*/
    display: none;
    left: 0;
    /*top: 60px;*/
    bottom: 0;
    z-index: 1;
}

[type=radio]:checked + label.tab-head {
    border-bottom: none;
    z-index: 2;
}
[type=radio]:checked + label.tab-head + .tab-content {
    z-index: 0;
    display: block;
}


.made_in_kz_link {
    display: none;
}

@media (min-width: 1280px) {

    .made_in_kz_link {
        position: absolute;
        left: 0;
        top: 150px;
        z-index: 999;
        display: block;
    }
}